<footer class="white_bg">
    <div class="container">
      <div class="footer p20">
        <div class="row">
          <div class="col-md-4" style="padding-right:30px">
            <div class="footer_branding">
              <div class="logo">
                <img src="../../assets/images/funpay-logo.png" />
              </div>
              <div class="caption">
                Payments Made Simple
              </div>
            </div>
  
            <div class="footer_newsletter">
              <p>Subscribe to our Monthly Newsletter</p>
              <div class="newsletter_form">
                <input type="text" class="nl_textfield" placeholder="Your email">
                <button type="submit" class="nl_btn"><i class="fa fa-paper-plane"></i></button>
              </div>
            </div>
  
            <div class="social_links">
              <i class="fa fa-facebook"></i>
              <i class="fa fa-twitter"></i>
              <i class="fa fa-linkedin"></i>
            </div>
          </div>
  
          <div class="col-md-7 col-md-offset-1">
            <div class="row">
              <div class="col-md-3">
                <div class="footer_links">
                  <h4>Company</h4>
                  <ul>
                    <li><a href="">About us</a></li>
                    <li><a href="">Our Team</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Press Room</a></li>
                    <li><a href="">Affiliates</a></li>
                  </ul>
                </div>
              </div>
  
              <div class="col-md-3">
                <div class="footer_links">
                  <h4>Resources</h4>
                  <ul>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Product Resources</a></li>
                    <li><a href="">Knowledge Center</a></li>
                  </ul>
                </div>
              </div>
  
              <div class="col-md-3">
                <div class="footer_links">
                  <h4>Help & Support</h4>
                  <ul>
                    <li><a href="">Contact us</a></li>
                    <li><a href="">FAQs</a></li>
                    <li><a href="">Login</a></li>
                    <li><a href="">Sign up</a></li>
                  </ul>
                </div>
              </div>
  
              <div class="col-md-3">
                <div class="footer_links">
                  <h4>Other Links</h4>
                  <ul>
                    <li><a href="">Terms of Use</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Cookies Policy</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="copyright p20">
        <p>
          Copyright &copy; 2019. FunPay Limited. All rights reserved.
        </p>
      </div>
    </div>
  </footer>
