<header class="normal">
	<div class="header-container">
		<div class="logo-wrap">
			<div class="normal-logo">
				<a routerLink="/home">
					<img src="../../assets/images/funpay-logo-alt.png" />
				</a>
			</div>

			<div class="static-logo">
				<a routerLink="/home">
					<img src="../../assets/images/funpay-logo.png" />
				</a>
			</div>
		</div>


		<div id="toggle_menu" class="hamburger_menu">
			<span class="hb-top"></span>
			<span class="hb-middle"></span>
			<span class="hb-bottom"></span>
		</div>


		<div class="top_nav">
			<ul>
				<li class="login">
					<a routerLink="/login">Login</a>
				</li>

				<li class="signup">
					<a routerLink="/signup">Sign up</a>
				</li>
			</ul>
		</div>

		<br class="clearall">
	</div>
</header>

<div id="overlay" class="overlay">
	<div class="navigation">
		<nav class="overlay-menu">
	        <ul>
	          <li><a routerLink="/home" class="light_font">Home</a></li>
	          
	          <li><a routerLink="/home" class="light_font">Send Money</a></li>
	          
	          <li><a routerLink="/home" class="light_font">Receive Money</a></li>
	          
	          <li><a routerLink="/home" class="light_font">About</a></li>

	          <li><a routerLink="/home" class="light_font">FAQs</a></li>

	          <li><a routerLink="/home" class="light_font">Careers</a></li>

	          <li><a routerLink="/home" class="light_font">Contact</a></li>

	          <li><a routerLink="/home" class="light_font">Privacy</a></li>
	        </ul>
	    </nav>
	</div>
</div>
