<app-dashboard-header></app-dashboard-header>

<main>

  <app-dashboard-sidebar></app-dashboard-sidebar>

  <div class="content">
    <h1 class="page_title">
      Dashboard
      <a href="#"
        class="btn btn-lg btn-primary"
        (click)="logout()">Logout</a>
    </h1>

    <div class="row">
      <div class="col-md-6">
        <div class="dashboard_itm">
          <div class="dashboard_itm_top">
            <h4>Wallets</h4>
          </div>
          <div class="dashboard_itm_ins">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="wallet_itm">
                  <div class="value"><span>NGN</span> 0.00</div>
                  <div class="link"><a href="">View</a></div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="wallet_itm">
                  <div class="value"><span>USD</span> 0.00</div>
                  <div class="link"><a href="">View</a></div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="wallet_itm">
                  <div class="value"><span>GBP</span> 0.00</div>
                  <div class="link"><a href="">View</a></div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="wallet_itm">
                  <div class="value"><span>CAD</span> 0.00</div>
                  <div class="link"><a href="">View</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="dashboard_itm_btm">
            Create New Wallet <i class="fa fa-long-arrow-right"></i>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="dashboard_itm">
          <div class="dashboard_itm_top">
            <h4>My Account Balance</h4>
          </div>
          <div class="dashboard_itm_ins">
            <h3>&#8358; 13,000.00</h3>

            <div class="acct_btns_wrap">
              <a href="#"
                class="btn btn-info btn-lg pull-left"><i class="fa fa-upload"></i> Deposit</a>
              <a href="#"
                class="btn btn-primary btn-lg pull-right"><i class="fa fa-download"></i> Withdraw</a>
            </div>
          </div>
          <div class="dashboard_itm_btm">View Account Details <i class="fa fa-long-arrow-right"></i></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="dashboard_itm">
          <div class="dashboard_itm_top">
            <h4>My Cards</h4>
          </div>
          <div class="dashboard_itm_ins">
            <div class="table-responsive">
              <table class="table table-striped">
                <tr class="table-header">
                  <th>Card Name</th>
                  <th>Card Number</th>
                  <th>Exp Date</th>
                </tr>
                <tr>
                  <td>Netflix Payment</td>
                  <td>5401********2345</td>
                  <td>10/22</td>
                </tr>
                <tr>
                  <td>Netflix Payment</td>
                  <td>5401********2345</td>
                  <td>10/22</td>
                </tr>
                <tr>
                  <td>Netflix Payment</td>
                  <td>5401********2345</td>
                  <td>10/22</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="dashboard_itm_btm">Create New Card <i class="fa fa-long-arrow-right"></i></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="dashboard_itm">
          <div class="dashboard_itm_top">
            <h4>Recent Transactions</h4>
          </div>
          <div class="dashboard_itm_ins">

          </div>
          <div class="dashboard_itm_btm">View All Transactions <i class="fa fa-long-arrow-right"></i></div>
        </div>
      </div>

    </div>
  </div>

</main>

<app-dashboard-footer></app-dashboard-footer>
