<div class="dashboard__container">
  <div class="dashboard__context-header">
    <h2>My Account Dashboard</h2>

    <div class="dashboard__context-buttons">
      <button class="button is-rounded is-link">Send Funds</button>
      <button class="button is-rounded is-success">Request Funds</button>
    </div>
  </div>

  <div class="dashboard__content">
    <div class="dashboard__content-area">
      <h4>Current Total Balance</h4>
      <p>$ 6,057.21</p>
    </div>
    <div class="dashboard__content-area">
      <h4>Current Available Balance</h4>
      <p>$ 5,957.21</p>
    </div>
    <div class="dashboard__content-area">
      <h4>Pending Transactions</h4>
      <p>$ 17,057.21</p>
    </div>
    <div class="dashboard__content-area">
      <h4>Pending Transactions - from You</h4>
      <p>$ 8,057.21</p>
    </div>
    <div class="dashboard__content-area">
      <h4>Pending Transactions - for You</h4>
      <p>$ 9,000.00</p>
    </div>
    <div class="dashboard__content-area"></div>
  </div>
</div>
