<div class="sidebar">
    
    <div class="sidebar_itm">
      <ul>
        <li>
          <a href=""><i class="fa fa-tachometer"></i> Dashboard</a>
        </li>
  
        <li>
          <a href=""><i class="fa fa-folder-o"></i> Wallets</a>
        </li>
        
        <li>
          <a href=""><i class="fa fa-external-link"></i> Send Money</a>
        </li>
  
        <li>
          <a href="#"><i class="fa fa-credit-card"></i> Virtual Cards</a>
        </li>
  
        <li>
          <a href="transactions.php"><i class="fa fa-bar-chart"></i> Transactions</a>
        </li>
  
        <li>
          <a href="#"><i class="fa fa-cog"></i> Settings</a>
        </li>
  
        <li>
          <a href="#"><i class="fa fa-info-circle"></i> Support</a>
        </li>
      </ul>
    </div>

</div>