<header>
	<div class="header-container">
		<div class="logo">
			<img src="../../../assets/images/funpay-logo-alt.png" />
		</div>

		<div class="top_nav">
			<ul>
				<li>
					<a href="#">Hello, {{ user.displayName }}</a>
					<div class="nav_dropdown">
						<div class="nav_dropdown_ins">
							<ul>
								<li class="nav_prof_sect">
									<div class="icon"></div>
									<div class="txt_info">
										<p class="name">Paul Anyiam</p>
										<p class="link"><a href="#">View Profile</a></p>
									</div>
								</li>
								<li><a href="">My Account Balance</a></li>
								<li><a href="">Change Password</a></li>
								<li><a href="">Account Settings</a></li>
								<li><a href="">Logout</a></li>
							</ul>
						</div>
					</div>
				</li>

				<li>
					<a href="#"><i class="fa fa-bell"></i></a>
					<div class="nav_dropdown">
						<div class="nav_dropdown_ins">
							<div class="nav_dropdown_ins_title">
								Notifications <span>3</span>
							</div>
							<ul>
								
							</ul>
						</div>
					</div>
				</li>

				<li>
					<a href="#"><i class="fa fa-th"></i></a>
					<div class="nav_dropdown">
						<div class="nav_dropdown_ins">
							<div class="nav_dropdown_ins_title"></div>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<div style="clear:both"></div>
	</div>
</header>
