<div id="page_wrap" class="blue_bg">
	
    <div class="login_header">
      <div class="container">
        <div class="alt_logo">
          <a routerLink="/home">
            <img src="../../assets/images/funpay-logo-alt.png" />
          </a>
        </div>
      </div>
    </div>
  
    <div id="section1" class="p30">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="form_wrap">
              <div class="form_title">
                <h1>Sign Up</h1>
              </div>
  
              <div class="form_content">
                <form (ngSubmit) = "onSubmit(sf)" #sf="ngForm">
                  <div class="form_itm">
                    <input type="text" name="firstname" class="textfield" placeholder="First Name" ngModel required #firstname="ngModel">
                    <p class="help-block" *ngIf="!firstname.valid && firstname.touched">Please enter your first name</p>
                  </div>
  
                  <div class="form_itm">
                    <input type="text" name="lastname" class="textfield" placeholder="Last Name" ngModel required #lastname="ngModel">
                    <p class="help-block" *ngIf="!lastname.valid && lastname.touched">Please enter your last name</p>
                  </div>
  
                  <div class="form_itm">
                    <input type="email" name="email" class="textfield" placeholder="Email" ngModel email required #email="ngModel">
                    <p class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email</p>
                  </div>
  
                  <div class="form_itm">
                    <input type="password" name="password" class="textfield" placeholder="Password" ngModel required #password="ngModel">
                    <p class="help-block" *ngIf="!password.valid && password.touched">Please enter your password</p>
                  </div>
  
                  <div class="form_itm">
                    <input type="password" name="confirm_password" class="textfield" placeholder="Confirm Password" 
                    ngModel required #cpassword="ngModel">
                    <p class="help-block" *ngIf="!cpassword.valid && cpassword.touched">Please confirm password</p>
                  </div>
  
                  <div class="form_itm">
                    <select name="country" class="selection" ngModel>
                      <option value="">Select Country</option>
                      <option *ngFor="let country of countries" [value]="country.code">{{ country.name }}</option>
                    </select>
                  </div>
  
                  <div class="form_itm">
                    <button type="submit" class="form_btn" [disabled]="!sf.valid">Sign Up</button>
                  </div>
                </form>
              </div>
            </div>
  
            <div class="form_extra">
              <p>Already have an account? <a routerLink="/login">Login</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-altfooter></app-altfooter>

</div>
