.logo {
  // width: 8rem;
  // height: 2rem;
}

.is-topnav-link {
  // border-bottom: 2px solid transparent;

  // &:hover {
  //   border-bottom: 2px solid #fff;
  // }
}

.navbar-item .logo {
  max-height: 2rem;
}
.title {
  font-family: 'Source Sans Pro', sans-serif;
}

.title .landing-caption {
  font-size: 4rem;
}

.title-divider {
  border: none;
  height: 2px;
  background-color: #fff;
  display: block;
  width: 200px;
  margin: 10px 0;
}

.container.needs-content {
  min-height: 300px;
  padding: 50px 0;
}

.list-column-header {
  font-weight: bold;
}

.footer .content ul {
  list-style: none;
  margin-left: 0;
}

.primary-benefits {
  background-color: rgb(11, 30, 127);
  padding: 50px 0;

  h4, i, p {
    color: #fff;
  }

  i {
    font-size: 3rem;
    margin-bottom: 20px;
  }
}

.landing-pic {
  position: absolute;
  top: -92px;
}

.section-header {
  // font-family: 'Nunito', sans-serif;
  margin-bottom: 20px;
}
