<app-header></app-header>

<main>
	<div id="banner-wrap">
		<div class="banner-text">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="banner-text-ins">
							<h1 class="white light_font">Discover a new way to send and receive money</h1>
							<p class="white medium_txt">
								Sending and receiving money has never been easier! Discover how Funpay can help you manage your transactions easier.
							</p>
							<div class="orange_btn">
								<a href="">Create a free account</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="banner">
			<picture>
			  <source media="(max-width: 480px)" srcset="assets/images/banner01-small.jpg">
			  <source media="(max-width: 768px)" srcset="assets/images/banner01-mid.jpg">
			  <img src="../../assets/images/banner01.jpg">
			</picture>
		</div>
	</div>

	<div id="section1" class="white_bg pt80">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="intro_section p50 text-center">
						<h2 class="light_font">My Money, My Transaction, Simply Funpay</h2>
						<p class="medium_txt">
							Welcome to the fun way to transact. With Funpay, you no longer have to deal with those pesky complications when sending and receiving funds anywhere. Plus, you get to control your funds in which ever currency you desire with absolute peace of mind
						</p>
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="section2" class="pt80">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="serv_bloc">
						<div class="serv_bloc_icon">
							<img src="../../assets/images/money-transfer.png" />
						</div>
						<h3 class="primary_font">Seamless & Instant Transfer</h3>
						<p>
							Make multiple seamless transfer globally, you can now send and receive money anywhere and anytime.
						</p>
					</div>
				</div>

				<div class="col-md-4">
					<div class="serv_bloc">
						<div class="serv_bloc_icon">
							<img src="../../assets/images/online-shopping.png" />
						</div>
						<h3 class="primary_font">Online Shopping & Payments</h3>
						<p>
							Shopping just got more fun, you can now pay for your shopping and services at online stores and shops across the world.
						</p>
					</div>
				</div>

				<div class="col-md-4">
					<div class="serv_bloc">
						<div class="serv_bloc_icon">
							<img src="../../assets/images/multi-currency.png" />
						</div>
						<h3 class="primary_font">Multi-Currency Accounts</h3>
						<p>
							Pay service providers worldwide, make international transfers, buy at online stores all over the world with any currency of your choice.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="section3" class="p80 blue_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="btm_section text-center">
						<h3 class="white">It's now safe and convenient to transfer money, pay and shop in your preferred currency</h3>
						<p class="medium_txt white light_font">Join others to find out how FunPay can help you</p>
						<div class="white_btn">
							<a href="">Open a free Account</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</main>

<app-footer></app-footer>